
.container {
	margin: 30px 20px;
}
.menu li{
	display: inline-block;
	padding: 14px 16px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}

.menu {
	margin: 30px 0;
	background-color: #cccccc;
}

.menu a {
	text-decoration: none;
	color: black;
}

body {
	margin-right: 70%;
	font-family: Arial;
}

.nav-principal {
	text-align: center;
}

.nav-principal h1 {
	font-weight: bold;
	font-size: 30px;
}

.nav-principal h2 {
	font-size: 20px;
}

article {
	font-size: 12px;
	line-height: 15px;
	margin-top: 40px;
	border: 1px solid red;
	
}
article h2 {
	font-weight: bold;
	font-size: 30px;
	padding: 20px 0;
}

article h3 {
	font-size: 25px;
	margin-top: 30px;
}

article p {
	margin: 15px 0;
}

.obs {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	font-weight: bold;
	margin-bottom: 15px;
}

.articles h4 {
	margin-top: 25px;
	font-size: 18px;
	font-weight: bold;
}

.articles li {
	margin: 10px 0;
}

footer {
	background-color: #cdcdcd;
	font-size:12px;
}

.block1 {
	text-align: left;
	display: inline-block;
	padding: 20px;
}

.block1 h3 {
	font-weight: bold;
    font-size: 16px;
}

.block2 {
	text-align: right;
	display: inline-block;
	padding: 22px;
}

.block2 p {
	font-style: italic;
}

.nav-footer {
	margin-bottom: 8px;
}

.nav-footer a {
	text-decoration: none;
	font-weight: bold;
	color: black;
}





