.title h2 {
	border-top: 1px solid #e5e5e5;
	padding-top: 33px;
	padding-bottom: 5px;
	text-transform: uppercase;
	font-size: 14px;
	color: #606060;
}

.categoria {
	text-align: center;	
}

.categoria header {
	line-height: 30px;
	margin-top: 40px;
	margin-bottom: 20px;
}

.categoria h2 {
	text-transform: uppercase;
	font-size: 27px;
	font-weight: 700;
	color: #303030;
}

.categoria a {
	font-family: Georgia;
	font-style: italic;
	font-size: 14px;
	color: #88a71d;
}

.produto {
	margin-bottom: 15px;
	width: 157px;
	height: 270px;
	text-align: center;
	font-size:  12px;
	line-height: 20px;
	display: inline-block;
	color: #303030;
}

.produto h3 {
	font-weight: 700;
	margin-top: 15px;
}

.left {
	margin-right: 21px;
}

.img-prod {
	width: 157px;
	height: 215px;
	border: 1px solid rgb(169, 169, 169);
	background-repeat: no-repeat;
}

.sapatos .img-prod {
	background-position: 12px 0;
}

.camisas .img-prod {
	background-position: -15px 10px;
}

.camisas {
	margin-bottom: 70px;
}

.dinis {
	background-image: url(../img/dinis.png);
}

.tomas {
	background-image: url(../img/tomas.png);
}

.samuel {
	background-image: url(../img/samuel.png);
}

.tingo {
	background-image: url(../img/tingo.png);
}

.xadrez {
	background-image: url(../img/xadrez.png);
}

.malhabike {
	background-image: url(../img/malhabike.png);
}

.rio {
	background-image: url(../img/rio.png);
}

.oceano {
	background-image: url(../img/oceano.png);
}


