body {
	border: 1px solid red;
	width: 375px;
	font-family: 'Lato', sans-serif;
}

.principal {
	border: 1px solid red;
	margin: 16px;
}

.title {
	text-align: center;
	border-top: 1px solid #e5e5e5;
	padding-top: 47px;
	margin-top: 15px;
}


.topo .logo {
	height: 46px;
}  

.basket {
	display: inline-block;
}

.basket p {
	display: inline-block;
	text-transform: uppercase;
	font-size: 10.94px;
}

.menu-button {
	background-color: rgb(97, 88, 76);
	display: inline-block;
	padding: 13.5px 11px;
}

.linha {
	 width: 24px; 
	 height: 3px;
	 background-color: white;
	 margin: 0px 0px 5px 0px;
}

.diff {
	margin-bottom: 0px;
}

.title h1{
	font-size: 55px;
	text-transform: uppercase;
	color: #61584c;
	letter-spacing: 2px;
}

.title h3{
	font-size: 19px;
	color: #606060;
	font-family: Georgia Italic;
	font-style: italic;
	margin: 45px 15px;
	letter-spacing: 1px;
}

.produtos img {
	width: 343px;
	font-weight: 700;
}

.tenis {
	text-align: center;
	text-transform: uppercase;
	background-color: #8fa2ad;
	color: white;
	width: 100%;
	height: 156px;
}
.tenis h3 {
	font-size: 18px;
	padding-top: 20px;
}
.tenis p {
	font-style: italic;
	font-size: 16px;
	padding-top: 20px;
}

.retangulo {
	text-align: center;
	display: inline-block;
	background-color: black;
	text-transform: uppercase;
	color: white;
}

.retangulo h3 {
	font-size: 27px;
}

.retangulo p {
	font-size: 17px;

}



.prod2 h3 {
	margin: 90px 100px 0px 107px;
    padding: 10px;
	
}

.oferta1 {
  background-color: rgb(146, 180, 109);
  width: 345px;
  height: 148px;
  text-align: center;
  margin: auto;
  text-transform: uppercase;
  color: white;
}

.oferta1 h3 {
	font-size: 27px;
}
.oferta1 p {
	font-size: 17px;
}


.oferta2 {
  background-color: rgb(143, 162, 173);
  width: 345px;
  height: 227px;
  text-align: center;
  margin: auto;
  text-transform: uppercase;
  color: white;
}

.oferta2 h3 {
	font-size: 27px;
}
.oferta2 p {
	font-size: 17px;
}

.newsletter {
	color: #303030;
	text-align: center;
	height: 420px;
}

.newsletter h2{
	font-size: 27px;
	text-transform: uppercase;
	font-weight: 700;
	padding-top: 60px;
}

.newsletter p{
	font-size: 14px;
	font-style: italic;
	font-family: Georgia;
	padding-top: 29px;
	line-height: 18px;
	letter-spacing: 0.5px;	
}

.newsletter .email {
	height: 49px;
	margin-top: 47px;
}

.newsletter input {
  width: 100%;
  height: 100%;
  border: 1px solid #cecece;
}

.newsletter button {
  width: 88px;
  height: 100%;
  background-color: #65a1c4;
  border: 1px solid #4786aa;
  color: white;
}

.prod1 {
	border: 2px solid #606060;
}
.prod1 img {
	width: 100%
}

.prod2 {
	background-image: url(../img/camisa_listas.png);
	height: 224px;
	
}

.prod3 {
	background-image: url(../img/blazer.png);
	height: 224px;
}

footer {
	text-align: center;
	height: 286px;
	border-top: 1px solid #e5e5e5;
}

footer h3 {
	padding-top: 47px;
	padding-bottom: 28px;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 700;
	color: #303030;
	letter-spacing: 0.5px;
}

footer img {
	padding: 7px;
	border: 1px solid #606060;
}

footer span {
	padding: 0px 5px;
}
footer p {
	font-size: 14px;
	padding-top: 80px;
}


