body {
	border: 1px solid red;
	width: 375px;
	font-family: 'Lato', sans-serif;
}

.principal {
	border: 1px solid red;
	margin: 16px;
}

.header-topo {
	text-align: center;
}

.topo .logo {
	height: 46px;
}  

.basket {
	display: inline-block;
}

.basket p {
	display: inline-block;
	text-transform: uppercase;
	font-size: 10.94px;
}

.menu-button {
	background-color: rgb(97, 88, 76);
	width: 46px;
	height: 46px;
	display: inline-block;
}

.linha {
	 width: 24px; 
	 height: 3px;
	 background-color: white;
	 margin: 5px auto; 
}

.header-topo h1{
	font-size: 55px;
	text-transform: uppercase;
	color: #61584c;
	font-weight: 700;
}

.header-topo h3{
	font-size: 19px;
	color: #606060;
	font-family: Georgia;
	font-style: italic;
	margin: 45px 15px;
}

.produtos img {
	width: 343px;
	font-weight: 700;
}

.retangulo p {
	display: inline-block;
	background-color: black;
	text-transform: uppercase;
	color: white;
	text-align: center;
	width: auto;
	text-align: center;
}



.prod2 h3 {
	margin: 90px 100px 0px 107px;
    padding: 10px;
	
}

.oferta1 {
  background-color: rgb(146, 180, 109);
  width: 345px;
  height: 148px;
  text-align: center;
  margin: auto;
  text-transform: uppercase;
  color: white;
}

.oferta1 h3 {
	font-size: 27px;
}
.oferta1 p {
	font-size: 17px;
}


.oferta2 {
  background-color: rgb(143, 162, 173);
  width: 345px;
  height: 227px;
  text-align: center;
  margin: auto;
  text-transform: uppercase;
  color: white;
}

.oferta2 h3 {
	font-size: 27px;
}
.oferta2 p {
	font-size: 17px;
}

.newsletter {
	color: #303030;
	text-align: center;
	height: 420px;
}
.newsletter h2{
	font-size: 27px;
	text-transform: uppercase;
	font-weight: 700;
	padding-top: 60px;
}

.newsletter p{
	font-size: 14px;
	font-style: italic;
	font-family: Georgia;
	padding-top: 29px;
	line-height: 18px;
	letter-spacing: 0.5px;
	
}

.newsletter .email {
	height: 49px;
	margin-top: 47px;
}

.newsletter input {
  width: 100%;
  height: 100%;
  border: 1px solid #cecece;
}

.newsletter button {
  width: 88px;
  height: 100%;
  background-color: #65a1c4;
  border: 1px solid #4786aa;
  color: white;
}

.prod1 img {
	border: 2px solid #606060;
	width: 100%
}

.prod2 {
	background-image: url(../img/camisa_listas.png);
	height: 224px;
	
}

.prod3 {
	background-image: url(../img/blazer.png);
	height: 224px;
}

footer {
	text-align: center;
}

footer h3 {
	font-size: 24px;
	text-transform: uppercase;
}
footer p {
	font-size: 14px;
}


